@mixin main-margin {
  margin-top: 10rem;
}

@mixin grid-flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

@mixin grid-flex-row-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
}

@mixin gird-flex-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
