//Fonts
@font-face {
  font-family: "Yekan";
  src: url(../../fonts/B_Yekan/Yekan.ttf);
}
$font-b-yekan: "Yekan";

$font-size-small: 1.8rem;
$font-size-medium: 2.5rem;
$font-size-big: 4rem;

//Colors
$color-light-grey: #f2f2f2f2;
$color-primary: #ad4a4f;
$color-second-primary: #8d69b3;
$color-second-primary-navLink: #c69ff0;
$color-second-primary-active: #542c80bb;
$color-black: #1e1e1e;
$color-black-main: #000;
$colors-back-ground: #1e1e1e1e;
$color-font-grey: #414141;
