//Fonts
@font-face {
  font-family: "Yekan";
  src: url("../../fonts/B_Yekan/Yekan.ttf");
}
$font-b-yekan: "Yekan";

//Colors
$color-light-grey: #f2f2f2f2;
$color-primary: #ad4a4f;
$color-second-primary: #a07fc4;
$color-balck: #1e1e1e;
