.footer {
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-image: linear-gradient(190deg, $color-primary 55%, #d86c72);
  justify-content: center;
  align-items: center;
  height: 45vh;
}
.footer__list {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.list__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list__items__item {
  color: #f1f1f1;
}
.list__items__item__title {
  margin-bottom: 1.2rem;
}
.list__items__item__text {
  margin-bottom: 0.7rem;
  display: inline-block;
  color: $color-light-grey;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #f1f1f100;
  transition: all 0.2s;
  &:hover,
  &:active {
    color: #d8d8d8;
    border-bottom: none;
    border-bottom: 1px solid #d8d8d8;
    transform: scale(1.09);
  }
}

.footer__wrapper {
  height: 16rem;
}

.footer__wrapper__social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0.5rem;
  height: 70%;
  padding: 2rem 4rem;
  background-color: rgba($color-black, 0.7);
  box-shadow: 0 0.8rem 1rem rgba($color-black, 0.5);
}

.footer__wrapper__social--paragraph {
  color: $color-light-grey;
  margin-bottom: 3rem;
}

.footer__wrapper__social__items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
}

.footer__wrapper__social__items__item {
}

.footer__wrapper__social__items__item--links {
}

.footer__wrapper--slogan {
  margin-top: 3rem;
  color: $color-light-grey;
  text-align: center;
  font-size: $font-size-small - 0.5rem;
  font-family: $font-b-yekan;
}

@media (max-width: 48rem) {
  .footer {
    flex-direction: column;
    &__list {
      width: 100%;

      flex-direction: column;
      justify-content: space-around;
    }
  }
  .list__items {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    &__item__title {
      font-size: $font-size-small - 0.5rem;
      margin-right: 1rem;
      margin-left: 1rem;
      &::after {
        content: " :";
      }
    }
  }

  .list__items__item__text {
    margin-left: 1.1rem;
    font-size: $font-size-small - 0.7rem;
  }

  .footer__wrapper__social--paragraph {
    text-align: center;
    font-size: $font-size-small - 0.4rem;
  }

  .footer__wrapper__social__items__item--links {
    .social-btn {
      font-size: $font-size-medium;
    }
  }
  .footer__wrapper--slogan {
    font-size: $font-size-small - 0.7rem;
    margin-bottom: 3rem;
  }
} ;
