.header {
  //background-color: $color-light-grey;
  background-image: linear-gradient(70deg, $color-light-grey, #e6d0ff);
  display: flex;
  position: fixed;
  box-shadow: 0 0.7rem 1.7rem rgba($color-black-main, 0.2);
  width: 100%;
  top: 0%;
  height: 12vh;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  &__ham-icon {
    display: none;
  }
  &__logo {
    width: 20rem;
    &--link {
      cursor: pointer;
    }
    &--logo {
      width: 100%;
    }
  }
  &__nav {
    &__items {
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      //   width: 40rem;
      list-style: none;
      flex-direction: row;
      &--item {
        &--link {
          text-decoration: none;
          display: inline-block;
          transition: all 0.2s ease-out;
          padding: 1rem 2rem;
          border-radius: 0.2rem;
          &:hover {
            border-bottom: 1px solid #8b54c5c4;
            // color: $color-light-grey;
            // background-color: $color-second-primary;
            transform: scale(1.1) translateY(-0.3rem);
            color: #8b54c5;
          }
          &:active {
            border-bottom: 1px solid $color-second-primary;
            transform: scale(1.1) translateY(0.2rem);
          }
        }
      }
    }
  }
  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    &__shpping--ico {
      display: inline-block;
      font-size: $font-size-medium;
      color: $color-second-primary;
      transition: all 0.3s ease-out;
      &:hover {
        color: #796094;
      }
      &:active {
        color: $color-second-primary-active;
      }
    }
    &__signup-btn {
      text-decoration: none;
      font-family: $font-b-yekan;
      display: inline-block;
      font-size: $font-size-small - 0.2rem;
      background-color: $color-second-primary;
      border: 1px solid #a07fc400;
      border-radius: 1.8rem;
      padding: 0.8rem 1.2rem;
      color: $color-light-grey;
      transition: all 0.3s ease-out;
      box-shadow: 0 0.3rem 1rem rgba($color-black-main, 0.4);
      &:hover {
        background-color: #796094;
        border: 1px solid #dab9fd;
      }
      &:active {
        background-color: $color-second-primary-active;
      }
    }
  }
}

@media (max-width: 48rem) {
  .header {
    z-index: 1;
    &__ham-icon {
      display: block;
    }
    &__nav {
      display: none;
    }
    &__logo {
      width: 11rem;
      &--link {
        cursor: pointer;
      }
      &--logo {
        width: 100%;
      }
    }
    &__user {
      width: 10rem;
      &__shpping--ico {
        display: inline-block;
        font-size: $font-size-medium - 0.5rem;
      }
      &__signup-btn {
        text-decoration: none;
        font-family: $font-b-yekan;
        display: inline-block;
        font-size: $font-size-small - 0.5rem;
        padding: 0.7rem 0.9rem;
      }
    }
  }
}
