.nav-link {
  font-family: $font-b-yekan;
  color: $color-second-primary;
  font-size: $font-size-small;
}

.aside-link {
  font-family: $font-b-yekan;
  color: $color-second-primary-navLink;
  font-size: $font-size-small;
  text-decoration: none;
}

.footer-list-title {
  font-size: $font-size-small;
  font-family: $font-b-yekan;
}
.footer-list-link {
  font-size: $font-size-small - 0.3rem;
  font-family: $font-b-yekan;
  text-decoration: none;
}
