.main-grid-1 {
  @include main-margin;
  @include grid-flex-row;
  width: 100%;
  &__layaout-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
}
// main-grid-1__layaout-1--title
// main-grid-1__layaout-1--text
// main-grid-1__layaout-1--box
// main-grid-1__layaout-1--box--link
